<div class="sidebar" id="sidebar">
	<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu">
			<ul>
				<li class="menu-title">
					<span>Main</span>
				</li>
				<li class="active">
					<a [routerLink]="['/admin']"><i class="fe fe-home"></i> <span>Tổng quan</span></a>
				</li>
				<li>
					<a [routerLink]="['/admin/appointments']"><i class="fe fe-layout"></i> <span>Lịch hẹn</span></a>
				</li>
				<li>
					<a [routerLink]="['/admin/specialities']"><i class="fe fe-users"></i> <span>Chuyên khoa</span></a>
				</li>
				<li>
					<a [routerLink]="['/admin/doctor']"><i class="fe fe-user-plus"></i> <span>Bác sĩ</span></a>
				</li>
				<li>
					<a [routerLink]="['/admin/patients']"><i class="fe fe-user"></i> <span>Bệnh nhân</span></a>
				</li>
				<li>
					<a href="settings.html"><i class="fe fe-vector"></i> <span>Cài đặt</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>