<!-- Home Banner -->
<section class="doctor-search-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 aos" data-aos="fade-up">
                <div class="doctor-search">
                    <div class="banner-header">
                        <h2><span>Search Doctor,</span> Make an Appointment</h2>
                        <p>Access to expert physicians and surgeons, advanced technologies and top-quality surgery facilities right here.</p>
                    </div>
                    <div class="doctor-form">
                        <form action="#" class="doctor-search">
                            <div class="input-box-twelve">
                                <div class="search-input input-block">
                                    <input type="text" class="form-control" placeholder="Location"> 
                                    <a class="current-loc-icon current_location" href="javascript:void(0);">
                                        <i class="isax isax-location"></i>
                                    </a>
                                </div>
                                <div class="search-input input-block">											
                                    <select class="select form-control">
                                        <option>Select Department</option>
                                        <option>Cardiology</option>
                                        <option>Neurology</option>
                                        <option>Urology</option>
                                    </select>
                                    <a class="current-loc-icon current_location" href="javascript:void(0);">
                                        <i class="isax isax-user-tag"></i>
                                    </a>
                                </div>
                                <div class="input-block">
                                    <div class="search-btn-info">
                                        <a href="search-2.html" class="btn btn-primary"><i class="isax isax-search-normal"></i>Search</a>
                                    </div>
                                </div>										
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 aos" data-aos="fade-up">
                <img src="assets/img/banner/doctor-banner.png" class="img-fluid dr-img" alt="doctor-image">
            </div>
        </div>
    </div>
</section>
<!-- /Home Banner -->