<section class="clinics-section">
    <div class="shapes">
        <img src="assets/img/shapes/shape-1.png" alt="shape-image" class="img-fluid shape-1">
        <img src="assets/img/shapes/shape-2.png" alt="shape-image" class="img-fluid shape-2">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 aos" data-aos="fade-up">
                <div class="section-heading">
                    <h2>Clinic & Specialities</h2>
                    <p>Access to expert physicians and surgeons, advanced technologies and top-quality surgery
                        facilities right here.</p>
                </div>
            </div>
            <div class="col-md-6 text-end aos" data-aos="fade-up">
                <div class="owl-nav slide-nav-1 text-end nav-control"></div>
            </div>
        </div>
        <div class="owl-carousel clinics owl-theme aos" data-aos="fade-up">
            <div class="item">
                <div class="clinic-item">
                    <div class="clinics-card">
                        <div class="clinics-img">
                            <img src="assets/img/clinic/clinic-1.jpg" alt="clinic-image" class="img-fluid">
                        </div>
                        <div class="clinics-info">
                            <span class="clinic-img">
                                <img src="assets/img/category/category-01.svg" alt="kidney-image" class="img-fluid">
                            </span>
                            <a href="#"><span>Urology</span></a>
                        </div>
                    </div>
                    <div class="clinics-icon">
                        <a href="#"><i class="isax isax-arrow-right-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="clinic-item">
                    <div class="clinics-card">
                        <div class="clinics-img">
                            <img src="assets/img/clinic/clinic-2.jpg" alt="clinic-image" class="img-fluid">
                        </div>
                        <div class="clinics-info">
                            <span class="clinic-img">
                                <img src="assets/img/category/category-02.svg" alt="bone-image" class="img-fluid">
                            </span>
                            <a href="#"><span>Orthopedic</span></a>
                        </div>
                    </div>
                    <div class="clinics-icon">
                        <a href="#"><i class="isax isax-arrow-right-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="clinic-item">
                    <div class="clinics-card">
                        <div class="clinics-img">
                            <img src="assets/img/clinic/clinic-4.jpg" alt="client-image" class="img-fluid">
                        </div>
                        <div class="clinics-info">
                            <span class="clinic-img">
                                <img src="assets/img/category/category-03.svg" alt="heart-image" class="img-fluid">
                            </span>
                            <a href="#"><span>Cardiologist</span></a>
                        </div>
                    </div>
                    <div class="clinics-icon">
                        <a href="#"><i class="isax isax-arrow-right-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="clinic-item">
                    <div class="clinics-card">
                        <div class="clinics-img">
                            <img src="assets/img/clinic/clinic-3.jpg" alt="client-image" class="img-fluid">
                        </div>
                        <div class="clinics-info">
                            <span class="clinic-img">
                                <img src="assets/img/category/category-04.svg" alt="teeth-image" class="img-fluid">
                            </span>
                            <a href="#"><span>Dentist</span></a>
                        </div>
                    </div>
                    <div class="clinics-icon">
                        <a href="#"><i class="isax isax-arrow-right-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="clinic-item">
                    <div class="clinics-card">
                        <div class="clinics-img">
                            <img src="assets/img/clinic/clinic-5.jpg" alt="client-image" class="img-fluid">
                        </div>
                        <div class="clinics-info">
                            <span class="clinic-img">
                                <img src="assets/img/category/category-05.svg" alt="brain-image" class="img-fluid">
                            </span>
                            <a href="#"><span>Neurology</span></a>
                        </div>
                    </div>
                    <div class="clinics-icon">
                        <a href="#"><i class="isax isax-arrow-right-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="clinic-item">
                    <div class="clinics-card">
                        <div class="clinics-img">
                            <img src="assets/img/clinic/clinic-1.jpg" alt="clinic-image" class="img-fluid">
                        </div>
                        <div class="clinics-info">
                            <span class="clinic-img">
                                <img src="assets/img/category/category-06.svg" alt="heart-image" class="img-fluid">
                            </span>
                            <a href="#"><span>Cardiologist</span></a>
                        </div>
                    </div>
                    <div class="clinics-icon">
                        <a href="#"><i class="isax isax-arrow-right-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Clinic Section -->

<!-- Specialities Section -->
<section class="specialities-section">
    <div class="shapes">
        <img src="assets/img/shapes/shape-3.png" alt="shape-image" class="img-fluid shape-3">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 aos" data-aos="fade-up">
                <div class="section-heading bg-area">
                    <h2>Browse by Specialities</h2>
                    <p>Find experienced doctors across all specialties</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card d-flex">
                    <div class="specialist-img">
                        <img src="assets/img/category/1.png" alt="kidney-image" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="#">
                            <h4>Urology</h4>
                        </a>
                        <p>21 Doctors</p>
                    </div>
                    <div class="specialist-nav ms-auto">
                        <a href="#"><i class="isax isax-arrow-right-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card d-flex">
                    <div class="specialist-img">
                        <img src="assets/img/category/2.png" alt="bone-image" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="#">
                            <h4>Orthopedic</h4>
                        </a>
                        <p>30 Doctors</p>
                    </div>
                    <div class="specialist-nav ms-auto">
                        <a href="#"><i class="isax isax-arrow-right-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card d-flex">
                    <div class="specialist-img">
                        <img src="assets/img/category/4.png" alt="heart-image" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="#">
                            <h4>Cardiologist</h4>
                        </a>
                        <p>15 Doctors</p>
                    </div>
                    <div class="specialist-nav ms-auto">
                        <a href="#"><i class="isax isax-arrow-right-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card d-flex">
                    <div class="specialist-img">
                        <img src="assets/img/category/5.png" alt="brain-image" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="#">
                            <h4>Dentist</h4>
                        </a>
                        <p>35 Doctors</p>
                    </div>
                    <div class="specialist-nav ms-auto">
                        <a href="#"><i class="isax isax-arrow-right-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card d-flex">
                    <div class="specialist-img">
                        <img src="assets/img/category/3.png" alt="brain-image" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="#">
                            <h4>Neurology</h4>
                        </a>
                        <p>25 Doctors</p>
                    </div>
                    <div class="specialist-nav ms-auto">
                        <a href="#"><i class="isax isax-arrow-right-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card d-flex">
                    <div class="specialist-img">
                        <img src="assets/img/category/6.png" alt="bone-image" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="#">
                            <h4>Pediatrist</h4>
                        </a>
                        <p>10 Doctors</p>
                    </div>
                    <div class="specialist-nav ms-auto">
                        <a href="#"><i class="isax isax-arrow-right-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card d-flex">
                    <div class="specialist-img">
                        <img src="assets/img/category/7.png" alt="heart-image" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="#">
                            <h4>Veterinary</h4>
                        </a>
                        <p>20 Doctors</p>
                    </div>
                    <div class="specialist-nav ms-auto">
                        <a href="#"><i class="isax isax-arrow-right-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 aos" data-aos="fade-up">
                <div class="specialist-card d-flex">
                    <div class="specialist-img">
                        <img src="assets/img/category/8.png" alt="kidney-image" class="img-fluid">
                    </div>
                    <div class="specialist-info">
                        <a href="#">
                            <h4>Psychiatrist</h4>
                        </a>
                        <p>12 Doctors</p>
                    </div>
                    <div class="specialist-nav ms-auto">
                        <a href="#"><i class="isax isax-arrow-right-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Specialities Section -->