<!-- Footer -->
<footer class="footer footer-three">

    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="assets/img/footer-logo.png" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>Effortlessly schedule your medical appointments with Doccure. Connect with healthcare
                                professionals, manage appointments & prioritize your well being </p>
                            <div class="social-icon">
                                <ul>
                                    <li> <a href="javascript:void(0);"><i class="fa-brands fa-facebook"></i></a>
                                    </li>
                                    <li> <a href="javascript:void(0);"><i class="fab fa-twitter"></i> </a>
                                    </li>
                                    <li> <a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li> <a href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Footer Widget -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Patients</h2>
                        <ul>
                            <li><a href="search.html">Search for Doctors</a>
                            </li>
                            <li><a href="login.html">Login</a>
                            </li>
                            <li><a href="register.html">Register</a>
                            </li>
                            <li><a href="booking.html">Booking</a>
                            </li>
                            <li><a href="patient-dashboard.html">Patient Dashboard</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Doctors</h2>
                        <ul>
                            <li><a href="appointments.html">Appointments</a>
                            </li>
                            <li><a href="chat.html">Chat</a>
                            </li>
                            <li><a href="login.html">Login</a>
                            </li>
                            <li><a href="doctor-register.html">Register</a>
                            </li>
                            <li><a href="doctor-dashboard.html">Doctor Dashboard</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Contact Us</h2>
                        <div class="footer-contact-info">
                            <div class="footer-address"> <span><i class="isax isax-location5"></i></span>
                                <p>3556 Beech Street, San Francisco,
                                    <br>California, CA 94108
                                </p>
                            </div>
                            <p><i class="isax isax-call5"></i>+1 315 369 5943</p>
                            <p class="mb-0"> <i class="isax isax-sms5"></i>
                                <a href="https://doccure.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                    class="__cf_email__"
                                    data-cfemail="4c28232f2f393e290c29342d213c2029622f2321">[email&#160;protected]</a>
                            </p>
                        </div>
                    </div>
                    <!-- /Footer Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <p class="mb-0">Copyright © 2025 Doccure. All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <!-- Copyright Menu -->
                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li><a href="terms-condition.html">Terms and Conditions</a>
                                </li>
                                <li><a href="privacy-policy.html">Policy</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Copyright Menu -->
                    </div>
                </div>
            </div>
            <!-- /Copyright -->

        </div>
    </div>
    <!-- /Footer Bottom -->

</footer>
<!-- /Footer -->