<!-- Blog Section -->
<section class="our-blog-section blogs-three">
    <div class="container">
        <div class="row">
            <div class="col-md-6 aos" data-aos="fade-up">
                <div class="section-heading">
                    <h2>Blogs and News</h2>
                    <p>Read Professional Articles and Latest Articles</p>
                </div>
            </div>
            <div class="col-md-6 text-end aos" data-aos="fade-up">
                <div class="owl-nav slide-nav-4 text-end nav-control"></div>
            </div>
        </div>
        <div class="owl-carousel blogs owl-theme aos" data-aos="fade-up">
            <div class="item">
                <div class="our-blogs">
                    <div class="blogs-img">
                        <a href="blog-details.html"><img src="assets/img/blog/blog-26.jpg" alt="blog-image"
                                class="img-fluid"></a>
                        <div class="blogs-overlay d-flex">
                            <img src="assets/img/clients/client-11.jpg" alt="Ruby Perrin" class="img-fluid">
                            <span class="blogs-writter">Ruby Perrin</span>
                        </div>
                    </div>
                    <div class="blogs-info">
                        <span class="blog-slug">Urology</span>
                        <h4><a href="blog-details.html">Revolutionizing Healthcare: The Rise of Online Doctor Booking</a></h4>
                        <p>Explore how online doctor booking is revolutionize access to healthcare efficiency.
                        </p>
                        <div class="blogs-nav d-flex align-items-center justify-content-between">
                            <span class="blogs-time"><i class="isax isax-calendar-1"></i>03 Apr 2024</span>
                            <a href="blog-details.html" class="blogs-btn btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="our-blogs">
                    <div class="blogs-img">
                        <a href="blog-details.html"><img src="assets/img/blog/blog-27.jpg" alt="blog-image"
                                class="img-fluid"></a>
                        <div class="blogs-overlay d-flex">
                            <img src="assets/img/clients/client-12.jpg" alt="Ruby Perrin" class="img-fluid">
                            <span class="blogs-writter">Lynette Williams</span>
                        </div>
                    </div>
                    <div class="blogs-info">
                        <span class="blog-slug">Neurology</span>
                        <h4><a href="blog-details.html">Neurology and Technology: A New Frontier in Brain Health</a></h4>
                        <p>Discover the intersection of technology and neurology, transforming treatments.
                        </p>
                        <div class="blogs-nav d-flex align-items-center justify-content-between">
                            <span class="blogs-time"><i class="isax isax-calendar-1"></i>10 Apr 2024</span>
                            <a href="blog-details.html" class="blogs-btn btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="our-blogs">
                    <div class="blogs-img">
                        <a href="blog-details.html"><img src="assets/img/blog/blog-28.jpg" alt="blog-image"
                                class="img-fluid"></a>
                        <div class="blogs-overlay d-flex">
                            <img src="assets/img/clients/client-03.jpg" alt="Ruby Perrin" class="img-fluid">
                            <span class="blogs-writter">Mathew Rulz</span>
                        </div>
                    </div>
                    <div class="blogs-info">
                        <span class="blog-slug">Orthopedic</span>
                        <h4><a href="blog-details.html">Beating Strong: The Digital Revolution in Cardiac Care</a></h4>
                        <p>Discover how digital advancements are transforming cardiac care, making heart health.
                        </p>
                        <div class="blogs-nav d-flex align-items-center justify-content-between">
                            <span class="blogs-time"><i class="isax isax-calendar-1"></i>15 Apr 2024</span>
                            <a href="blog-details.html" class="blogs-btn btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="our-blogs">
                    <div class="blogs-img">
                        <a href="blog-details.html"><img src="assets/img/blog/blog-29.jpg" alt="blog-image"
                                class="img-fluid"></a>
                        <div class="blogs-overlay d-flex">
                            <img src="assets/img/clients/client-09.jpg" alt="Sofia Brient" class="img-fluid">
                            <span class="blogs-writter">Sofia Brient</span>
                        </div>
                    </div>
                    <div class="blogs-info">
                        <span class="blog-slug">Ophthalmology</span>								
                        <h4><a href="blog-details.html">Understanding and Preventing Glaucoma: A Detailed Guide</a></h4>
                        <p>Glaucoma is a leading cause of blindness worldwide, yet many do not realize they have it</p>
                        <div class="blogs-nav d-flex align-items-center justify-content-between">
                            <span class="blogs-time"><i class="isax isax-calendar-1"></i>18 Apr 2024</span>
                            <a href="blog-details.html" class="blogs-btn btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="our-blogs">
                    <div class="blogs-img">
                        <a href="blog-details.html"><img src="assets/img/blog/blog-30.jpg" alt="blog-image"
                                class="img-fluid"></a>
                        <div class="blogs-overlay d-flex">
                            <img src="assets/img/clients/client-02.jpg" alt="Olga Barlow" class="img-fluid">
                            <span class="blogs-writter">Olga Barlow</span>
                        </div>
                    </div>
                    <div class="blogs-info">
                        <span class="blog-slug">Dental Care</span>								
                        <h4><a href="blog-details.html">5 Essential Tips for Maintaining Optimal Oral Health</a></h4>
                        <p>Learn the top five daily practices to keep your teeth and gums healthy. </p>
                        <div class="blogs-nav d-flex align-items-center justify-content-between">
                            <span class="blogs-time"><i class="isax isax-calendar-1"></i>18 Apr 2024</span>
                            <a href="blog-details.html" class="blogs-btn btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="our-blogs">
                    <div class="blogs-img">
                        <a href="blog-details.html"><img src="assets/img/blog/blog-31.jpg" alt="blog-image"
                                class="img-fluid"></a>
                        <div class="blogs-overlay d-flex">
                            <img src="assets/img/clients/client-04.jpg" alt="Linda Tobin" class="img-fluid">
                            <span class="blogs-writter">Linda Tobin</span>
                        </div>
                    </div>
                    <div class="blogs-info">
                        <span class="blog-slug">Veterinary</span>
                        <h4><a href="blog-details.html">Pet Emergencies: How to Recognize and React</a></h4>
                        <p>This critical guide covers the most common emergencies seen in pets, including choking.</p>
                        <div class="blogs-nav d-flex align-items-center justify-content-between">
                            <span class="blogs-time"><i class="isax isax-calendar-1"></i>24 Apr 2024</span>
                            <a href="blog-details.html" class="blogs-btn btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Blog Section -->
